# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
# imports
import pandas as pd
import numpy as np

# Load datasets

In [2]:
# basics data
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# check the datatypes
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9381842 entries, 0 to 9381841
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 644.2+ MB

In [4]:
# check for missing data
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [6]:
# check for duplicates
basics.duplicated().sum()

0

In [7]:
# akas data
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas_reader = pd.read_csv(akas_url, sep = '\t', low_memory = False,
                  chunksize = 100_000)
akas_reader

In [8]:
# the first row # of the next chunk is stored under ._currow
akas_reader._currow

0

In [9]:
# use the .get_chunk() method to extract the first chunk of rows
akas = akas_reader.get_chunk()
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
99995,tt0022295,1,Der Raub der Mona Lisa,\N,\N,original,\N,1
99996,tt0022295,2,O Mistério de Gioconda,BR,\N,imdbDisplay,\N,0
99997,tt0022295,3,Hvorfor smiler du Mona Lisa?,DK,\N,imdbDisplay,\N,0
99998,tt0022295,4,Il ratto di Monna Lisa,IT,\N,\N,\N,0
99999,tt0022295,5,O Roubo da Gioconda,PT,\N,imdbDisplay,\N,0

In [10]:
# check the datatypes 
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          100000 non-null  object
 1   ordering         100000 non-null  int64
 2   title            100000 non-null  object
 3   region           100000 non-null  object
 4   language         100000 non-null  object
 5   types            100000 non-null  object
 6   attributes       100000 non-null  object
 7   isOriginalTitle  100000 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB

In [11]:
# check for missing data
akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [12]:
# check for duplicates
akas.duplicated().sum()

0

In [13]:
# ratings data
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1736
3  tt0000004            5.6       174
4  tt0000005            6.2      2548

In [14]:
# check the datatypes
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248735 entries, 0 to 1248734
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1248735 non-null  object
 1   averageRating  1248735 non-null  float64
 2   numVotes       1248735 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [15]:
# check for missing data
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [17]:
# check for duplicates
ratings.duplicated().sum()

0

# Specifications

In [18]:
# replace \N with np.nan for missing data in basics
basics.replace({'\\N':np.nan}, inplace = True)

In [19]:
# eliminate movies that are null for runtimeMinutes and genres
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [20]:
# keep only titleType==Movie
is_movie = basics['titleType'].str.contains('movie', case = False)
basics = basics[is_movie]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,NaN,45,Drama

In [49]:
# convert to numeric for slicing
basics['startYear'] = basics['startYear'].astype(float)

In [50]:
# eliminate movies that are null for startYear
basics = basics.dropna(subset = ['startYear'])

In [51]:
# keep startYear 2000-2021
basics = basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <=2021)]

In [52]:
# eliminate movies that include "Documentary" in genres
is_documentary = basics['genres'].str.contains('documentary', case = False)
basics = basics[~is_documentary]

In [53]:
# using akas dataset to keep only US movies
akas = akas.loc[akas['region'] == 'US']

In [54]:
# Keep only US movies 
keepers = basics['tconst'].isin(akas['titleId'])
keepers

Series([], Name: tconst, dtype: bool)

In [55]:
# filter
basics = basics[keepers]
basics

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [56]:
# replace \N with np.nan in akas dataset
akas.replace({'\\N':np.nan}, inplace = True)

In [36]:
# replace \N with np.nan for missing data in ratings dataset
ratings.replace({'\\N':np.nan}, inplace = True)

In [37]:
# Keep only US movies 
keepers1 = ratings['tconst'].isin(akas['titleId'])
keepers1

0           True
1           True
2          False
3          False
4           True
           ...
1248730    False
1248731    False
1248732    False
1248733    False
1248734    False
Name: tconst, Length: 1248735, dtype: bool

In [38]:
# filter 
ratings = ratings[keepers1]
ratings

         tconst  averageRating  numVotes
0     tt0000001            5.7      1922
1     tt0000002            5.8       259
4     tt0000005            6.2      2548
5     tt0000006            5.1       175
6     tt0000007            5.4       798
...         ...            ...       ...
7407  tt0022289            6.9       426
7408  tt0022290            6.4       244
7409  tt0022291            4.7        19
7410  tt0022293            5.6       439
7411  tt0022294            5.4        29

[6262 rows x 3 columns]

# Run final .info for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature

In [39]:
# basics info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes

In [40]:
# akas info
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21284 entries, 5 to 99989
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          21284 non-null  object
 1   ordering         21284 non-null  int64
 2   title            21284 non-null  object
 3   region           21284 non-null  object
 4   language         20 non-null     object
 5   types            19591 non-null  object
 6   attributes       1176 non-null   object
 7   isOriginalTitle  21283 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.5+ MB

In [41]:
# ratings info
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6262 entries, 0 to 7411
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         6262 non-null   object
 1   averageRating  6262 non-null   float64
 2   numVotes       6262 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 195.7+ KB

#  Save all dataframes to data folder

In [42]:
# Save current dataframe to file for basics
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip', index = False)

In [43]:
# save fname using chunk #
chunk_num = 1
fname = f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
fname

'Data/title_akas_chunk_001.csv.gz'

In [59]:
# Save akas disk using the fname.
akas.to_csv(fname, compression= 'gzip')
# incrementing chunk_num by 1 for the next file.
chunk_num+=1

In [48]:
# Save current dataframe to file for ratings
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip', 
               index = False)