# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load data

In [2]:
basics_url = 'https://datasets.imdbws.com/name.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0050419,tt0072308,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0083922"

# Clean and explore data

In [3]:
# make a copy of the data
basics_ml = basics.copy()

In [4]:
# get the datatypes
basics_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12066993 entries, 0 to 12066992
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 552.4+ MB

In [5]:
# check for missing data
basics_ml.isna().sum()

nconst                     0
primaryName                1
birthYear                  0
deathYear                  0
primaryProfession    2606530
knownForTitles             0
dtype: int64

In [6]:
# check for duplicates 
basics_ml.duplicated().sum()

0