# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
# imports
import pandas as pd
import numpy as np

# Load datasets

In [2]:
# basics data
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = True)
basics.head()

C:\Users\shell\AppData\Local\Temp\ipykernel_52732\4255076482.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv(basics_url, sep = '\t', low_memory = True)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
# check the datatypes
basics.info()

In [ ]:
# check for missing data
basics.isna().sum()

In [ ]:
# check for duplicates
basics.duplicated().sum()

In [5]:
# akas data
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas = pd.read_csv(akas_url, sep = '\t', low_memory = True)
akas.head()

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [ ]:
# the first row # of the next chunk is stored under ._currow
akas_reader._currow

In [ ]:
# use the .get_chunk() method to extract the first chunk of rows
akas = akas_reader.get_chunk()
akas

In [ ]:
# check the datatypes 
akas.info()

In [ ]:
# check for missing data
akas.isna().sum()

In [ ]:
# check for duplicates
akas.duplicated().sum()

In [ ]:
# ratings data
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = True)
ratings.head()

In [ ]:
# check the datatypes
ratings.info()

In [ ]:
# check for missing data
ratings.isna().sum()

In [ ]:
# check for duplicates
ratings.duplicated().sum()

# Specifications

In [ ]:
# replace \N with np.nan for missing data in basics
basics.replace({'\\N':np.nan}, inplace = True)

In [ ]:
# eliminate movies that are null for runtimeMinutes and genres
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [ ]:
# keep only titleType==Movie
is_movie = basics['titleType'].str.contains('movie', case = False)
basics = basics[is_movie]
basics.head()

In [ ]:
# convert to numeric for slicing
basics['startYear'] = basics['startYear'].astype(float)

In [ ]:
# eliminate movies that are null for startYear
basics = basics.dropna(subset = ['startYear'])

In [ ]:
# keep startYear 2000-2021
basics = basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <=2021)]

In [ ]:
# eliminate movies that include "Documentary" in genres
is_documentary = basics['genres'].str.contains('documentary', case = False)
basics = basics[~is_documentary]

In [ ]:
# using akas dataset to keep only US movies
akas = akas.loc[akas['region'] == 'US']

In [ ]:
# Keep only US movies 
keepers = basics['tconst'].isin(akas['titleId'])
keepers

In [ ]:
# filter
basics = basics[keepers]
basics

In [ ]:
# replace \N with np.nan in akas dataset
akas.replace({'\\N':np.nan}, inplace = True)

In [ ]:
# replace \N with np.nan for missing data in ratings dataset
ratings.replace({'\\N':np.nan}, inplace = True)

In [ ]:
# Keep only US movies 
keepers1 = ratings['tconst'].isin(akas['titleId'])
keepers1

In [ ]:
# filter 
ratings = ratings[keepers1]
ratings

# Run final .info for each of the dataframes.

In [ ]:
# basics info
basics.info()

In [ ]:
# akas info
akas.info()

In [ ]:
# ratings info
ratings.info()

#  Save all dataframes to data folder

In [ ]:
# Save current dataframe to file for basics
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip', index = False)

In [ ]:
# save fname using chunk #
chunk_num = 1
fname = f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
fname

In [ ]:
# Save akas disk using the fname.
akas.to_csv(fname, compression= 'gzip')
# incrementing chunk_num by 1 for the next file.
chunk_num+=1

In [ ]:
# Save current dataframe to file for ratings
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip', 
               index = False)