# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load data

In [ ]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics.head()

# Clean and explore data

In [3]:
# make a copy of the data
basics_ml = basics.copy()

In [4]:
# get the datatypes
basics_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074454 entries, 0 to 12074453
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 552.7+ MB

In [5]:
# check for missing data
basics_ml.isna().sum()

nconst                     0
primaryName                1
birthYear                  0
deathYear                  0
primaryProfession    2609606
knownForTitles             0
dtype: int64

In [6]:
# check for duplicates 
basics_ml.duplicated().sum()

0

In [9]:
# replace \N with np.nan for missing data
basics_ml.replace({'\\N': 'np.nan'}, inplace = True)

# Load data 2

In [10]:
basics_url1 = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
basics1 = pd.read_csv(basics_url1, sep = '\t', low_memory = False)
basics1.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1734
3  tt0000004            5.6       174
4  tt0000005            6.2      2546

# Clean and explore data

In [11]:
# make a copy of the data
basics1_ml = basics1.copy()

In [12]:
# get the datatypes
basics1_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247004 entries, 0 to 1247003
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1247004 non-null  object
 1   averageRating  1247004 non-null  float64
 2   numVotes       1247004 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB

In [13]:
# check for missing data
basics1_ml.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [14]:
# check for duplicates
basics1_ml.duplicated().sum()

0

In [ ]:
sql = SELECT

# Load data 3

In [20]:
# laod data 3
basics_url2 = 'https://datasets.imdbws.com/title.akas.tsv.gz'
basics2 = pd.read_csv(basics_url2, sep = '\t', low_memory = False,
                      chunksize = 100_000)
basics2

In [21]:
# the first row # of the next chunk is stored under ._currow
basics2._currow

0

In [22]:
# use the .get_chunk() method to extract the first chunk of rows
basics2 = basics2.get_chunk()
basics2

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
99995,tt0022307,7,Resurrection,\N,\N,original,\N,1
99996,tt0022307,8,Resurrection,IN,en,imdbDisplay,\N,0
99997,tt0022307,9,Wolga-Sibirien,DK,\N,imdbDisplay,\N,0
99998,tt0022308,10,Matomeni haravgi,GR,\N,\N,transliterated title,0
99999,tt0022308,11,Volgan morsian,FI,\N,\N,\N,0

In [23]:
# make a copy of the data
basics2_ml = basics2.copy()

In [24]:
# check the dataypes
basics2_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          100000 non-null  object
 1   ordering         100000 non-null  int64
 2   title            100000 non-null  object
 3   region           100000 non-null  object
 4   language         100000 non-null  object
 5   types            100000 non-null  object
 6   attributes       100000 non-null  object
 7   isOriginalTitle  100000 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB

In [25]:
# check for missing data
basics2_ml.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [26]:
#check for duplicates
basics2_ml.duplicated().sum()

0