# Shelly-Ann Duncan
# 12/6/22
# Project 3 - IMDB - Part 3

### For part 3 of the project you will be practicing applying an E.T.L process on your previously saved movie data. Specifically, you will create a new MySQL database after preparing the data for a relational database. You will export your database to a .sql file in your repository using MySQL Workbench.

# Import necessary libraries

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from scipy import stats

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
# create connection to database with alchemy
connection = "mysql+pymysql://root:root@localhost/movies"
# create engine
engine = create_engine(connection)

In [3]:
# check if database exists. If not, create it
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [4]:
# load Title Basics dataset
basics = pd.read_csv('Data/title_basics_cleaned (1).csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020.0,NaN,74,"Horror,Music,Thriller"

In [5]:
# drop the columns not needed
basics.drop(columns = ['titleType', 'originalTitle', 'isAdult', 'endYear'], inplace = True)
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,Grizzly II: Revenge,2020.0,74,"Horror,Music,Thriller"
...,...,...,...,...,...
79199,tt9914942,Life Without Sara Amat,2019.0,74,Drama
79200,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
79201,tt9916170,The Rehearsal,2019.0,51,Drama
79202,tt9916190,Safeguard,2020.0,90,"Action,Adventure,Thriller"
79203,tt9916362,Coven,2020.0,92,"Drama,History"

In [6]:
# create a new column with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,Grizzly II: Revenge,2020.0,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"
...,...,...,...,...,...,...
79199,tt9914942,Life Without Sara Amat,2019.0,74,Drama,[Drama]
79200,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
79201,tt9916170,The Rehearsal,2019.0,51,Drama,[Drama]
79202,tt9916190,Safeguard,2020.0,90,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
79203,tt9916362,Coven,2020.0,92,"Drama,History","[Drama, History]"

In [7]:
# explode to separate the list of genres into new rows
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,Drama
...,...,...,...,...,...,...
79202,tt9916190,Safeguard,2020.0,90,"Action,Adventure,Thriller",Action
79202,tt9916190,Safeguard,2020.0,90,"Action,Adventure,Thriller",Adventure
79202,tt9916190,Safeguard,2020.0,90,"Action,Adventure,Thriller",Thriller
79203,tt9916362,Coven,2020.0,92,"Drama,History",Drama
79203,tt9916362,Coven,2020.0,92,"Drama,History",History

In [8]:
# get the string column converted into a list of strings in each row
genres_split = basics['genres'].str.split(',')

In [9]:
# explode the series and take the unique entries only
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Music', 'Thriller', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Crime', 'Animation', 'Family', 'History', 'War', 'Biography',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [10]:
# get the unique genres from the genres_split column
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [11]:
# create a new title_genres from the exploded dataframe
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres

          tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0062336        Drama
2      tt0069049        Drama
...          ...          ...
79202  tt9916190       Action
79202  tt9916190    Adventure
79202  tt9916190     Thriller
79203  tt9916362        Drama
79203  tt9916362      History

[148033 rows x 2 columns]

In [12]:
# make the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [13]:
# make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics = basics.drop(columns = 'genres_split')

In [14]:
# manually make dataframe with names columns
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [15]:
# check the data
basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genre_id
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,Grizzly II: Revenge,2020.0,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"

In [16]:
# drop the genres and genre_id columns
basics.drop(columns = ['genres', 'genre_id'], inplace = True)

In [17]:
# ensure the columns are dropped
basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0069049,The Other Side of the Wind,2018.0,122
3,tt0088751,The Naked Monster,2005.0,100
4,tt0093119,Grizzly II: Revenge,2020.0,74

In [18]:
# get the datatypes
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79204 entries, 0 to 79203
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79204 non-null  object
 1   primaryTitle    79204 non-null  object
 2   startYear       79204 non-null  float64
 3   runtimeMinutes  79204 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.4+ MB

In [19]:
from sqlalchemy.types import *
# calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
# create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len + 1), 
    "primaryTitle": Text(title_len + 1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()}

In [20]:
# Save to sql with dtype and index = False
basics.to_sql('title_basics_cleaned', engine, dtype = df_schema, if_exists = 'replace', index = False)

79204

In [21]:
# run the query to add the primary key
engine.execute('ALTER TABLE title_basics_cleaned ADD PRIMARY KEY (`tconst`);')

In [22]:
# load the Title ratings dataset
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1924
1  tt0000002            5.8       260
2  tt0000005            6.2      2550
3  tt0000006            5.1       175
4  tt0000007            5.4       798

In [23]:
# save to sql with dtype and index = False
ratings.to_sql('title_ratings', engine, dtype = df_schema, if_exists = 'replace', index = False)

55120

In [24]:
# runt the query to add the primary key
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [25]:
# load the TMDB API results dataset
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.filmymen.us/2022/11/in-mood-for-lo...,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2037.0,PG

In [26]:
# get the info
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2485 non-null   object
 1   adult                  2483 non-null   float64
 2   backdrop_path          1305 non-null   object
 3   belongs_to_collection  197 non-null    object
 4   budget                 2483 non-null   float64
 5   genres                 2483 non-null   object
 6   homepage               240 non-null    object
 7   id                     2483 non-null   float64
 8   original_language      2483 non-null   object
 9   original_title         2483 non-null   object
 10  overview               2432 non-null   object
 11  popularity             2483 non-null   float64
 12  poster_path            2202 non-null   object
 13  production_companies   2483 non-null   object
 14  production_countries   2483 non-null   object
 15  release_date           2469 non-null   object
 16  revenue                2483 non-null   float64
 17  runtime                2483 non-null   float64
 18  spoken_languages       2483 non-null   object
 19  status                 2483 non-null   object
 20  tagline                1044 non-null   object
 21  title                  2483 non-null   object
 22  video                  2483 non-null   float64
 23  vote_average           2483 non-null   float64
 24  vote_count             2483 non-null   float64
 25  certification          793 non-null    object
dtypes: float64(9), object(17)
memory usage: 504.9+ KB

In [35]:
# keep only columns needed from tmdb column
tmdb['imdb_id'].head()

TypeError: list indices must be integers or slices, not str