# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
# imports
import pandas as pd
import numpy as np

# Load data

In [2]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Clean and explore data

In [3]:
# make a copy of the data
basics_ml = basics.copy()

In [4]:
# get the datatypes
basics_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9384224 entries, 0 to 9384223
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 644.4+ MB

In [5]:
# check for missing data
basics_ml.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [6]:
# check for duplicates 
basics_ml.duplicated().sum()

0

In [7]:
# replace \N with np.nan for missing data
basics_ml.replace({'\\N':np.nan}, inplace = True)

In [8]:
# eliminate movies that are null for runtimeMinutes and genres
basics_ml.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [9]:
# keep only titleType==Movie
is_movie = basics_ml['titleType'].str.contains('movie', case = False)
basics_ml = basics_ml[is_movie]
basics_ml.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,NaN,45,Drama

In [10]:
# convert to numeric for slicing
basics_ml['startYear'] = basics_ml['startYear'].astype(float)

In [11]:
# keep startYear 2000-2021
basics_ml = basics_ml.loc[(basics_ml['startYear'] >= 2000) & (basics_ml['startYear'] <=2021)]
basics_ml

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61095,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
66312,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006.0,NaN,47,Documentary
67643,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9384073,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
9384114,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9384141,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9384146,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,NaN,66,Drama
9384174,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

In [27]:
# eliminate movies that include "Documentary" in genres
is_documentary = basics_ml['genres'].str.contains('documentary', case = False)
basics_ml = basics_ml[~is_documentary]

In [28]:
# using akas dataset to keep only US movies
akas_ml = akas_ml.loc[akas_ml['region']=='US']

In [29]:
# Keep only US movies 
keepers = basics_ml['tconst'].isin(akas_ml['titleId'])
keepers

34793      False
61095      False
67643      False
77937      False
86773      False
           ...
9383906    False
9383944    False
9383989    False
9384073    False
9384146    False
Name: tconst, Length: 159905, dtype: bool

In [30]:
# filter
basics_ml = basics_ml[keepers]
basics_ml

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [31]:
basics_ml.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes

# Load data 2

In [12]:
# laod data 2
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas = pd.read_csv(akas_url, sep = '\t', low_memory = False,
                   chunksize = 100_000)
akas

In [13]:
# the first row # of the next chunk is stored under ._currow
akas._currow

0

In [14]:
# use the .get_chunk() method to extract the first chunk of rows
akas = akas.get_chunk()
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
99995,tt0022293,4,Mia dikastiki plani,GR,\N,\N,transliterated title,0
99996,tt0022293,5,The Range Feud,US,\N,imdbDisplay,\N,0
99997,tt0022293,6,Range Feud,US,\N,tv,\N,0
99998,tt0022293,7,The Range Feud,GB,\N,imdbDisplay,\N,0
99999,tt0022293,8,The Range Feud,\N,\N,original,\N,1

# Clean and explore data

In [15]:
# make a copy of the data
akas_ml = akas.copy()

In [16]:
# check the dataypes
akas_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          100000 non-null  object
 1   ordering         100000 non-null  int64
 2   title            100000 non-null  object
 3   region           100000 non-null  object
 4   language         100000 non-null  object
 5   types            100000 non-null  object
 6   attributes       100000 non-null  object
 7   isOriginalTitle  100000 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB

In [17]:
# check for missing data
akas_ml.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [18]:
#check for duplicates
akas_ml.duplicated().sum()

0

In [19]:
# replace \N with np.nan for missing data
akas_ml.replace({'\\N':np.nan}, inplace = True)

In [20]:
akas_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          100000 non-null  object
 1   ordering         100000 non-null  int64
 2   title            100000 non-null  object
 3   region           76652 non-null   object
 4   language         8940 non-null    object
 5   types            86588 non-null   object
 6   attributes       4709 non-null    object
 7   isOriginalTitle  99998 non-null   object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB

# Load data 3

In [21]:
# load data 3
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1923
1  tt0000002            5.8       259
2  tt0000003            6.5      1737
3  tt0000004            5.6       174
4  tt0000005            6.2      2549

# Explore and clean data

In [22]:
# make a copy of the data
ratings_ml = ratings.copy()

In [23]:
# check the datatypes
ratings_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249333 entries, 0 to 1249332
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1249333 non-null  object
 1   averageRating  1249333 non-null  float64
 2   numVotes       1249333 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [24]:
# check for missing data
ratings_ml.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [25]:
# check for duplicates
ratings_ml.duplicated().sum()

0

In [26]:
# replace \N with np.nan for missing data if any
ratings_ml.replace({'\\N':np.nan}, inplace = True)

In [32]:
# Keep only US movies 
keepers2 = ratings_ml['tconst'].isin(akas_ml['titleId'])
keepers2

0           True
1           True
2          False
3          False
4           True
           ...
1249328    False
1249329    False
1249330    False
1249331    False
1249332    False
Name: tconst, Length: 1249333, dtype: bool

In [33]:
# filter 
ratings_ml = ratings_ml[keepers2]
ratings_ml

         tconst  averageRating  numVotes
0     tt0000001            5.7      1923
1     tt0000002            5.8       259
4     tt0000005            6.2      2549
5     tt0000006            5.1       175
6     tt0000007            5.4       798
...         ...            ...       ...
7406  tt0022288            6.5        63
7407  tt0022289            6.9       426
7408  tt0022290            6.4       244
7409  tt0022291            4.7        19
7410  tt0022293            5.6       439

[6261 rows x 3 columns]

In [34]:
ratings_ml.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6261 entries, 0 to 7410
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         6261 non-null   object
 1   averageRating  6261 non-null   float64
 2   numVotes       6261 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 195.7+ KB

#  Save all dataframes to data folder

In [ ]:
# Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip', index = False)

In [ ]:
# Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip', 
               index = False)

In [ ]:
akas.to_csv("Data/title_akas.csv.gz", compression = 'gzip', index = False)