# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load data

In [2]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Clean and explore data

In [3]:
# make a copy of the data
basics_ml = basics.copy()

In [4]:
# get the datatypes
basics_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9379384 entries, 0 to 9379383
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 644.0+ MB

In [5]:
# check for missing data
basics_ml.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [6]:
# check for duplicates 
basics_ml.duplicated().sum()

0

In [7]:
# replace \N with np.nan for missing data
basics_ml.replace({'\\N': 'np.nan'}, inplace = True)

NameError: name 'np' is not defined

In [ ]:
# eliminate movies that are null for runtimeMinutes and genres
basics_ml.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [ ]:
# keep only titleType==Movie
is_movie = basics_ml['titleType'].str.contains('movie', case = False)
basics_ml = basics_ml[is_movie]

In [ ]:
# insanity check
basics_ml.head()

In [ ]:
# eliminate movies that include "Documentary" in genres
is_documentary = basics_ml['genres'].str.contains('Documentary', case = False)
basics_ml = basics_ml[~is_documentary]

In [ ]:
# convert to numeric for slicing
basics_ml['startYear'] = basics_ml['startYear'].astype(float).copy()

In [ ]:
# keep startYear 2000-2022
basics_ml = basics_ml[(basics_ml['startYear'] >= 2000) & 
                      (basics_ml['startYear']<2022)]
basics_ml

In [ ]:
# keep only US movies
keepers = basics_ml['tconst'].isin(akas_ml['titleId'])
keepers

In [ ]:
# filter
basics_ml = basics_ml[keepers]

In [ ]:
basics_ml.info()

# Load data 2

In [ ]:
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)
ratings.head()

# Clean and explore data

In [ ]:
# make a copy of the data
ratings_ml = ratings.copy()

In [ ]:
# get the datatypes
ratings_ml.info()

In [ ]:
# check for missing data
ratings_ml.isna().sum()

In [ ]:
# check for duplicates
ratings_ml.duplicated().sum()

In [ ]:
# Keep only US movies 
keep = basics_ml['tconst'].isin(akas_ml['titleId'])
keep

In [ ]:
# filter
basics_ml = basics_ml[keep]

In [ ]:
ratings_ml.info()

# Load data 3

In [ ]:
# laod data 3
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas = pd.read_csv(akas_url, sep = '\t', low_memory = False,
                   chunksize = 100_000)
akas

In [ ]:
# the first row # of the next chunk is stored under ._currow
akas._currow

In [ ]:
# use the .get_chunk() method to extract the first chunk of rows
akas = akas.get_chunk()
akas

In [ ]:
# make a copy of the data
akas_ml = akas.copy()

In [ ]:
# check the dataypes
akas_ml.info()

In [ ]:
# check for missing data
akas_ml.isna().sum()

In [ ]:
#check for duplicates
akas_ml.duplicated().sum()

In [ ]:
# replace \N with np.nan for missing data
akas_ml.replace({'\\N': 'np.nan'}, inplace = True)

In [ ]:
akas_ml.info()

#  Save all dataframes to data folder

In [ ]:
# Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip', index = False)

In [ ]:
# Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip', 
               index = False)

In [ ]:
akas.to_csv("Data/title_akas.csv.gz", compression = 'gzip', index = False)