# Shelly-Ann Duncan
## 11/10/22
## Project 3 - Part 1

# Import necessary libraries

In [1]:
# imports
import pandas as pd
import numpy as np

# Load datasets

In [2]:
# basics data
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
basics = pd.read_csv(basics_url, sep = '\t', low_memory = True)
basics.head()

C:\Users\shell\AppData\Local\Temp\ipykernel_25392\4255076482.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv(basics_url, sep = '\t', low_memory = True)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# check the datatypes
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9386465 entries, 0 to 9386464
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 644.5+ MB

In [4]:
# check for missing data
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [5]:
# check for duplicates
basics.duplicated().sum()

0

In [6]:
# akas data
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas_reader = pd.read_csv(akas_url, sep = '\t', low_memory = True,
                  chunksize = 900_000)
akas_reader

In [7]:
# the first row # of the next chunk is stored under ._currow
akas_reader._currow

0

In [8]:
# use the .get_chunk() method to extract the first chunk of rows
akas = akas_reader.get_chunk()
akas

C:\Users\shell\AppData\Local\Temp\ipykernel_25392\3915749437.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = akas_reader.get_chunk()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
899995,tt0109340,15,Nunca te Amei,BR,\N,imdbDisplay,\N,0
899996,tt0109340,16,Les leçons de la vie,CA,fr,\N,\N,0
899997,tt0109340,17,Brownings versjon,NO,\N,imdbDisplay,\N,0
899998,tt0109340,18,The Browning Version,CA,en,imdbDisplay,\N,0
899999,tt0109340,19,Magánórák,HU,\N,imdbDisplay,\N,0

In [9]:
# check the datatypes 
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          900000 non-null  object
 1   ordering         900000 non-null  int64
 2   title            900000 non-null  object
 3   region           900000 non-null  object
 4   language         900000 non-null  object
 5   types            900000 non-null  object
 6   attributes       900000 non-null  object
 7   isOriginalTitle  900000 non-null  object
dtypes: int64(1), object(7)
memory usage: 54.9+ MB

In [10]:
# check for missing data
akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [11]:
# check for duplicates
akas.duplicated().sum()

0

In [12]:
# ratings data
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = True)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1923
1  tt0000002            5.8       259
2  tt0000003            6.5      1737
3  tt0000004            5.6       174
4  tt0000005            6.2      2550

In [13]:
# check the datatypes
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250092 entries, 0 to 1250091
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1250092 non-null  object
 1   averageRating  1250092 non-null  float64
 2   numVotes       1250092 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [14]:
# check for missing data
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [15]:
# check for duplicates
ratings.duplicated().sum()

0

# Specifications

In [16]:
# replace \N with np.nan for missing data in basics
basics.replace({'\\N':np.nan}, inplace = True)

In [17]:
# eliminate movies that are null for runtimeMinutes and genres
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [18]:
# keep only titleType==Movie
is_movie = basics['titleType'].str.contains('movie', case = False)
basics = basics[is_movie]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,NaN,45,Drama

In [19]:
# convert to numeric for slicing
basics['startYear'] = basics['startYear'].astype(float)

In [20]:
# eliminate movies that are null for startYear
basics = basics.dropna(subset = ['startYear'])

In [21]:
# keep startYear 2000-2021
basics = basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <=2021)]

In [22]:
# eliminate movies that include "Documentary" in genres
is_documentary = basics['genres'].str.contains('documentary', case = False)
basics = basics[~is_documentary]

In [23]:
# using akas dataset to keep only US movies
akas = akas.loc[akas['region'] == 'US']

In [24]:
# Keep only US movies 
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34793       True
61095       True
67643       True
77937      False
86773       True
           ...
9386147    False
9386185    False
9386230    False
9386314    False
9386387    False
Name: tconst, Length: 159909, dtype: bool

In [25]:
# filter
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61095,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
67643,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86773,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93909,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
98013,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017.0,NaN,80,"Comedy,Drama,Fantasy"
101936,tt0104278,movie,Flaming Ears,Flaming Ears,0,2013.0,NaN,84,"Fantasy,Sci-Fi"
106078,tt0108549,movie,West from North Goes South,West from North Goes South,0,2004.0,NaN,96,"Comedy,Mystery"

In [26]:
# replace \N with np.nan in akas dataset
akas.replace({'\\N':np.nan}, inplace = True)

C:\Users\shell\AppData\Local\Temp\ipykernel_25392\3324221636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  akas.replace({'\\N':np.nan}, inplace = True)

In [27]:
# replace \N with np.nan for missing data in ratings dataset
ratings.replace({'\\N':np.nan}, inplace = True)

In [28]:
# Keep only US movies 
keepers1 = ratings['tconst'].isin(akas['titleId'])
keepers1

0           True
1           True
2          False
3          False
4           True
           ...
1250087    False
1250088    False
1250089    False
1250090    False
1250091    False
Name: tconst, Length: 1250092, dtype: bool

In [29]:
# filter 
ratings = ratings[keepers1]
ratings

          tconst  averageRating  numVotes
0      tt0000001            5.7      1923
1      tt0000002            5.8       259
4      tt0000005            6.2      2550
5      tt0000006            5.1       175
6      tt0000007            5.4       798
...          ...            ...       ...
80542  tt0109334            7.1        63
80543  tt0109335            6.5       400
80544  tt0109336            4.5       143
80547  tt0109339            7.4       102
80548  tt0109340            7.2      3421

[55276 rows x 3 columns]

# Run final .info for each of the dataframes.

In [30]:
# basics info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 34793 to 106078
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          8 non-null      object
 1   titleType       8 non-null      object
 2   primaryTitle    8 non-null      object
 3   originalTitle   8 non-null      object
 4   isAdult         8 non-null      object
 5   startYear       8 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  8 non-null      object
 8   genres          8 non-null      object
dtypes: float64(1), object(8)
memory usage: 640.0+ bytes

In [31]:
# akas info
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90921 entries, 5 to 899993
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          90921 non-null  object
 1   ordering         90921 non-null  int64
 2   title            90921 non-null  object
 3   region           90921 non-null  object
 4   language         329 non-null    object
 5   types            74864 non-null  object
 6   attributes       9075 non-null   object
 7   isOriginalTitle  90914 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.2+ MB

In [32]:
# ratings info
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55276 entries, 0 to 80548
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         55276 non-null  object
 1   averageRating  55276 non-null  float64
 2   numVotes       55276 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

#  Save all dataframes to data folder

In [33]:
# Save current dataframe to file for basics
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip', index = False)

In [34]:
# save fname using chunk #
chunk_num = 1
fname = f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
fname

'Data/title_akas_chunk_001.csv.gz'

In [35]:
# Save akas disk using the fname.
akas.to_csv(fname, compression= 'gzip')
# incrementing chunk_num by 1 for the next file.
chunk_num+=1

In [36]:
# Save current dataframe to file for ratings
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip', 
               index = False)